@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
nav.container {
  /* border: solid 2px white; */
  height: 8rem;
}
.left {
  position: absolute;
  left: 30px;
  top: 0px;
  /* border: 2px solid white; */
}
.mid {
  /* position: absolute; */
  width: 45%;
  /* border: 2px solid white; */
  margin: 0 auto;
}

.right {
  position: absolute;
  right: 30px;
  top: 0px;
  /* border: 2px solid white; */
}
img.logo {
  width: 70px;
  height: auto;
  margin: 2rem 50px;
  margin-bottom: 5px;
}
.left div {
  text-align: center;
  font-size: 24px;
}
.mid li {
  list-style: none;
  display: inline-block;
  margin: 50px 10px;
  padding: 10px;
}
li a {
  margin: 0 auto;
  font-size: 24px;
  text-decoration: none;
}
.active {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 5px;
}
a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 5px;
}
button.btn {
  margin: 3.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  width: 6rem;
  height: 2.5rem;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  border-color: black;
  font-weight: bold;
}
button:hover {
  background-color: rgb(229, 255, 0);
  box-shadow: 2px 2px 10px black;
}
div.form {
  border: 2px solid white;
  width: 50%;
  height: 29rem;
  border-radius: 20px;
  /* border-style: dashed; */
  border-spacing: 100px;
  margin: 40px 86px;
  padding: 32px 40px;
}
#name,
#mobile-no,
#email {
  height: 30px;
  background: 100%;
  border: white solid 2px;
  border-radius: 10px;
  color: white;
  padding-left: 20px;
}
.name,
.mobile-no,
.email {
  font-size: 23px;
  margin-top: 30px;
  margin-right: 10px;
}
hr {
  margin-top: 20px;
}
.submit,
.reset {
  color: black;
  width: 150px;
  height: 2rem;
  font-size: 18px;
  font-weight: bold;
  margin-top: 2rem;
  margin-right: 2rem;
  padding: 4px 20px;
  background-color: aqua;
  border-radius: 20px;
  border-color: aqua;
}
button.submit {
  width: fit-content;
}
